*{
    margin:0;
    padding:0;
}
section{
    margin-left:15%;
    margin-right:15%;
    min-height:100vh;
}
section .presentation{
    min-height:900px;
}
.hidden{
    display:none;
}
.challengeMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 34px;
    margin-bottom:30px;
}
.phone{
    color:#ffb439;
}