section h3{
    text-align: center;
    color:#818181;
    font-size:52px;
}

.infos-persos{
    border:1px solid #e9e9e9;
    border-radius:5px;
    box-shadow:2px 2px 3px #818181;
}

/* Disposition des blocks présentations */
.infos-persos .presentation .age-presentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.age-presentation .age, .age-presentation .formation{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Stylisation des textes de chacun des blocs */
.infos-persos .presentation .age-presentation .age{
    font-weight: bold;
    font-size:40px;
    color:#ffb439;
}
.infos-persos .presentation .age-presentation .formation .formation-img{
    height:300px;
    width:450px;
    margin:0 20px;
}
.infos-persos .presentation .age-presentation .formation .formation-img img{
    height:100%;
    width:100%;
    border-radius:5px;
}
.passions{
    height:auto;
    width:100%;
    background:#818181;
    padding:30px 0;
    margin-top:20px;
}
.passions h3{
    color:white;
    font-family:"sunFlower";
    font-weight: normal;
    font-size:40px;
    margin-bottom:40px;
}
.passions .passions-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding:0 20px;
}
/* Disposition des blocks de hobbies */
.passions .passions-group .music, .passions .passions-group .coding,.passions .passions-group .video-games,.passions .passions-group .reading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:25px;
    font-family:"sunFlower";
}
.passions .passions-group img{
    width:150px; 
    height:150px;
}
.social-network{
    height:auto;
    width:100%;
    background:#ffb439;
    padding:30px 0;
}
.social-network h3{
    color:white;
    font-family:"sunFlower";
    font-weight: normal;
    font-size:40px;
    margin-bottom:40px;
}
.passions-group div{
    height:100%;
    width:25%;
}
.social-network .sn-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
.social-network .sn-group .linkedin, .social-network .sn-group .github, .social-network .sn-group .codingame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:25px;
    font-family:"sunFlower";
}
.social-network .sn-group img{
    width:150px; 
    height:150px;
}
.social-network .codingame_img{
    border-radius:100%;
}