
@media screen and (max-width: 1400px) {
    section{
        margin-left:10%;
        margin-right:10%;
        background:red;
        height:100vh;
    }
}
@media screen and (max-width: 1050px) {
    header .header-banner .back-header .title{
        width:50%;
    }
    header .header-banner .back-header .title h1{
        font-size:45px;
    }
}

@media screen and (max-width: 750px) {
    header .header-banner .back-header .title{
        width:45%;
    }
    header .header-banner .back-header .title h1{
        font-size:42px;
    }
    header .header-banner .front-header{
        height:100%;
        bottom:0;
        display: flex;
        align-items: flex-end;
    }
    header .header-banner .front-header .photo{
        height:100%;
        bottom:0;
    }
    header .header-banner .front-header .photo.moved{
        margin-left:-20px;
    }
}
@media screen and (max-width: 560px) {
    header .header-banner .back-header .title{
        min-width:25%;
    }
    header .header-banner .back-header .title h1{
        font-size:42px;
    }
    header .header-banner .front-header{
        height:100%;
        bottom:0;
        display: flex;
        align-items: flex-end;
    }
    header .header-banner .front-header .photo{
        height:80%;
        bottom:0;
    }
    header .header-banner .front-header .photo.moved{
        margin-left:-20px;
    }
    section{
        margin-left:5%;
        margin-right:5%;
        background:red;
        height:100vh;
    }
}